@mixin flex-space {
  display: flex;
  justify-content: space-between;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
}
@mixin flex-column-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}