$text-dark-grey: #4E4E4E;
$text-light-grey: #7C7C7C;
$text-grey: #5C5C5C;
$text-white: white;
$hover:#57A4A4;

$font-size1: 11px;
$font-size2: 12px;
$font-size3:13px;
$font-size4: 14px;
$font-size5:16px;
$font-weight-normal: 400;
$font-weight-bold: 700;