@import "normalize";
@import "variables";
@import "mixins";


* {
  font-family: 'Roboto', serif;
  font-style: normal;
box-sizing: border-box;
}

h3 {
  font-size: $font-size5;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.menu {
  @include flex-center;
  margin-top: 45px;
  margin-bottom: 50px;

  ul {
    width: 810px;
    @include flex-space;
    padding: 0;

    li {
      list-style: none;
      text-transform: uppercase;
      color: $text-dark-grey;
      font-size: $font-size1;
      font-weight: $font-weight-normal;
    }
    li:hover {
      color: $hover;
    }
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  h3 {
    color: $text-dark-grey;
  }
  img{
    margin-bottom: 66px;
  }
}

.first-section {
  margin-top: 24px;
  @include flex-space;
  flex-wrap: wrap;

  &__item {
    @include flex-space;
    width: 585px;
    height: 140px;
    margin-bottom: 32px;

    img {
      width: 160px;
      height: 140px;
    }

    div {
      padding-left: 21px;
    }

    &__title {
      color: $text-dark-grey;
      font-weight: $font-weight-bold;
      font-size: $font-size5;
    }

    &__comment {
      color: $text-light-grey;
      font-weight: $font-weight-normal;
      font-size: $font-size2;
    }

    &__text {
      color: $text-grey;
      font-size: $font-size4;
      font-weight: $font-weight-normal;
    }
  }
}

.second-section {
  margin-top: 32px;
  background-color: rgba(0, 0, 0, 0.03);
  background-blend-mode: normal;
  padding-top: 47px;

  .container {
    .second-section__header {
      margin-bottom: 24px;
      h3 {
        color: $text-dark-grey;
      }

      p {
        color: $text-dark-grey;
        font-size: $font-size3;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }
      @include flex-space;
    }
    .insta-pictures {
      @include flex-space;
    }
  }
}
.footer {
  background-color: black;
  padding-top: 66px;
  padding-bottom: 70px;
  @include flex-center;
  h3 {
    color: $text-white;
  }
  p {
    color: $text-light-grey;
  }
  div {
    margin-top: 37px;
    margin-bottom: 34px;
  }
  &__container {
    width: 684px;
    @include flex-column-center;
  }
}
.burger-menu {
  display: none;
  justify-content: flex-end;
  position: relative;
}
.menu-btn{
  margin-top: 23px;
  display: flex;
  align-items: center;
  //position: absolute;
  //top: 0;
  //right:0;
  width: 44px;
  height: 37px;
  cursor: pointer;
  z-index: 1;
  background-color: black;
  padding-left: 13px;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
.menubox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //display: block;
  position: absolute;
  visibility: hidden;
  top: 60px;
  right: -100%;
  width: 182px;
  height: 208px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color:#F5F5F5;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}
.menu-item {
 display: block;
  padding: 5px 13px;
  list-style: none;
  text-transform: uppercase;
  color: $text-dark-grey;
  font-size: $font-size1;
  font-weight: $font-weight-normal;
  text-decoration: none;
  transition-duration: .25s;
}
.menu-item:hover {
  color: $hover;
  background-color: #E5E5E5;
}
#menu-toggle{
  opacity: 0;
}
#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  right: 0;
}
@media screen and (max-width:1200px ){
.container {
  max-width: 750px;
}
  .first-section {
    flex-direction: column;
  }
  .intro-img {
    width: 750px;
  }
  .picture {
    width: 245px;
    height: 245px;
  }
  .last {
    display: none;
  }
}
@media screen and (max-width:768px) {
  .container {
    max-width: 312px;
  }
  .first-section {
    flex-direction: column;
  }
  .intro-img {
    width: 312px;
    margin-top: 83px;
  }
  .picture {
    width: 245px;
    height: 245px;
    display: none;
  }
  .first {
    display: block;
    width: 301px;
    height: 301px;
  }
  .menu {
    display: none;
  }
  .first-section__item__text {
    display: none;
  }
  .first-section__item {
    flex-direction: column;
  }
  .burger-menu{
    display: flex;
  }
  .first-section__item {
    width: 320px;
    height: 200px;
    margin-bottom: 28px;
    div {
      padding: 0;
    }
    img {
      margin: 0;
    }
  }

.second-section__header {
  p {
    display: none;
  }
}
.footer__container {
  width: 303px;
  text-align: center;
  p {
    font-size: $font-size2;
  }
}
}